{% extends 'base.html' %}
{% block title %}
    Accounts List
{% endblock title %}

{% block content%}
    <header>
        <nav>
            <li>
                <a href="{% url "home" %}">Home</a>
            </li>
            <li>
                <a href="{% url "create_account" %}">Create Account</a>
            </li>
        </nav>
    </header>
    <main>
            <h1>Accounts</h1>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Receipts</th>
                </thead>
                <tbody>
                    {% for accounts in allaccounts %}
                    <tr>
                        <td>{{ accounts.name }}</td>
                        <td>{{ accounts.number }}</td>
                        <td>{{ accounts.receipts.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>
{% endblock %}
