{% extends 'base.html' %}
{% block title %}
    Category List
{% endblock title %}

{% block content%}
    <header>
        <nav>
            <li>
                <a href="{% url "home" %}">Home</a>
            </li>
            <li>
                <a href="{% url "create_category" %}">Create Category</a>
            </li>
        </nav>
    </header>
    <main>
            <h1>Categories</h1>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </thead>
                <tbody>
                    {% for category in allcategories %}
                    <tr>
                        <td>{{ category.name}}</td>
                        <td>{{ category.receipts.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>
{% endblock %}
