{% extends 'base.html' %}
{% block title %}
    Create Category
{% endblock title %}

{% block content%}
    <header>
        <nav>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url "category_list" %}">Category List</a>
            </li>
        </nav>
    </header>
    <main>
        <div>
            <h1>Create Category</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock %}
