{% extends 'base.html' %}
{% block title %}
    Receipt List
{% endblock title %}

{% block content%}
    <header>
        <nav>
            <li>
                {% if user.is_authenticated %}
                    Hello, {{ user.username }}
                <a href="{% url "logout" %}">Logout</a>
                {% else %}
                    <a href="{% url 'signup' %}">Signup</a>
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </li>
            <li>
                {% if user.is_authenticated %}
                <a href="{% url "create_receipt" %}">Create a Receipt</a>
                {% endif %}
            </li>
            <li>
                {% if user.is_authenticated %}
                <a href="{% url "accounts_list" %}">Accounts List</a>
                {% endif %}
            </li>
            <li>
                {% if user.is_authenticated %}
                <a href="{% url "category_list" %}">Category List</a>
                {% endif %}
            </li>
        </nav>
    </header>
    <main>
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </thead>
                <tbody>
                    {% for receipt in allreceipts %}
                    <tr>
                        <td>{{ receipt.vendor }}</td>
                        <td>{{ receipt.total }}</td>
                        <td>{{ receipt.tax }}</td>
                        <td>{{ receipt.date|date:"m/d/y" }}</td>
                        <td>{{ receipt.category }}</td>
                        <td>{{ receipt.account }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>
{% endblock content %}
